<div class="course-container">
  <div class="courses-page-header">
    <div class="course-header-text">
      <h2>All Courses</h2>
    </div>
    <div class="course-header-search">
      <input type="text" placeholder="Search Course">
      <button>Search</button>
    </div>
    <div class="course-create">
      <button class="create-course-button" (click)="showCreateCourse()">
        Create Course
      </button>
    </div>
  </div>

  <div class="course-list-container">
    <div *ngFor="let course of courses$ | async">
      <app-courses-card [course]="course"></app-courses-card>
    </div>
  </div>
</div>

<div *ngIf="showForm$ | async">
  <app-add-course></app-add-course>
</div>
